p {
    color: blue;
}


.red {
    color: red;
}

.violet {
    color: violet;
}

#green{
    color: green;
}

/* 
DRY - don't repeat yourself

tag -       0001
.class -    0010
#id -       0100


!important
*/